<form [formGroup]="postForm"
      class="container"
      (ngSubmit)="submit()">
  <div class="form-control">
    <label for="title">Название поста</label>
    <input type="text"
           id='title'
           formControlName="title">
    <val-errors controlName="title"
             [ngStyle]="{'color':'red'}"> </val-errors>
  </div>
  <div class="form-control">
    <label for="author">Текст поста</label>
    <input type="text"
           id='author'
           formControlName="author">
    <val-errors controlName="author"
                [ngStyle]="{'color':'red'}"> </val-errors>
  </div>
  <button type="submit"
          class=" btn btn-block btn-dark"
  [disabled]="postForm.invalid">Отправить</button>
</form>
